<!DOCTYPE html>
<html>

<head>
    <title>404 page</title>
    <meta charset="UTF-8">
      <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
      <div class="main-content">
    {{>header}}
    <h2 style="color:blue">404 Page</h2>
  <p><strong>{{error}}</strong></p></div>
    {{>footer}}
</body>
</html>