<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <meta charset="UTF-8">
      <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
        <div class="main-content">
    {{>header}}
<p style="color: red">{{help}}</p></div>
{{>footer}}
</body>
</html>